.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
  border: 2px solid var(--Neutral-Slate-300);
  border-radius: 8px;
}

.adress {
  display: flex;
  align-items: center;
  gap: 16px;
}

.dropdown {
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 10;
  width: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;
}
